<h3 style="text-align:center;">User Feed</h3><br>
<div class="container">
  <div class="row">
      <% @posts.each do |post| %>
      <div class="col-md-4">
          <%= link_to image_tag(post.image), post, class: "thumbnail" %>
      </div>
      <% end %>
  </div>
</div>

<div style="margin-top:20px;clear:left;">
  <div style="margin-bottom:10px;"><%= link_to 'New Post', new_post_path %></div>
  <%= render_emojis %>
</div>

<% javascript_include_tag "emojis.js" %>
